* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background-image: repeating-linear-gradient(-45deg, transparent, #051f04 495%, #610808 25%, transparent 50%, transparent 50%);
  background-size: 60px 60px;
  background-color: wheat;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  max-width: 400px;
  margin: 0 auto;
  overflow-x: hidden;
  font-family: Montserrat;
  /* Marketplace styles */
  /* Marketplace Button (outside modal) */
}
body img {
  width: 30px;
}
body .first-section {
  padding: 0px 10px;
}
body .first-section .top-section {
  display: flex;
  flex-direction: column;
}
body .first-section .top-section .digits {
  font-size: 1rem;
  font-weight: bold;
}
body .first-section .top-section .top-section-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 9px 0px;
}
body .first-section .top-section .top-section-1 .main-balance {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}
body .first-section .top-section .top-section-1 .main-balance img {
  width: 40px;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
}
body .first-section .top-section .top-section-1 .main-balance .main-balance-bg {
  padding: 5px 0px;
  background: white;
  margin-left: 22px;
  min-width: 110px;
  width: 100%;
  border-radius: 5px;
}
body .first-section .top-section .top-section-1 .main-balance .main-balance-bg span {
  margin: 0px 10px 0px 20px;
}
body .first-section .top-section .top-section-1 .level-badge {
  position: relative;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
}
body .first-section .top-section .top-section-1 .level-badge img {
  width: 40px;
  position: absolute;
  left: -22px;
  -o-object-fit: cover;
     object-fit: cover;
}
body .first-section .top-section .top-section-1 .level-badge .level-badge-bg {
  padding: 5px 0px;
  background: white;
  min-width: 130px;
  width: 100%;
  border-radius: 5px;
}
body .first-section .top-section .top-section-1 .level-badge .level-badge-bg span {
  margin: 0px 6px 0px 13px;
}
body .first-section .top-section .top-section-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  align-content: center;
}
body .first-section .top-section .top-section-2 .stars-section {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}
body .first-section .top-section .top-section-2 .stars-section img {
  width: 40px;
  position: absolute;
  rotate: 11deg;
}
body .first-section .top-section .top-section-2 .stars-section .stars-section-bg {
  padding: 5px 0px;
  background-color: white;
  margin-left: 23px;
  min-width: 70px;
  width: 100%;
  border-radius: 5px;
}
body .first-section .top-section .top-section-2 .stars-section .stars-section-bg span {
  margin: 0px 10px 0px 15px;
  padding-left: 5px;
}
body .first-section .top-section .top-section-2 .attempt-section {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}
body .first-section .top-section .top-section-2 .attempt-section img {
  width: 40px;
  position: absolute;
  left: -14px;
  rotate: 15deg;
}
body .first-section .top-section .top-section-2 .attempt-section .attempt-section-bg {
  padding: 5px 0px;
  background-color: white;
  margin-left: 16px;
  min-width: 70px;
  border-radius: 5px;
}
body .first-section .top-section .top-section-2 .attempt-section .attempt-section-bg .digits {
  margin-left: 12px;
  margin-right: 7px;
}
body .first-section .activities-section {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
body .first-section .activities-section .extras {
  display: flex;
  flex-direction: row;
}
body .first-section .activities-section .extras .store {
  margin-right: 5px;
}
body .first-section .activities-section .extras .store .store-bg {
  width: 45px;
  height: 45px;
  background-color: white;
  position: relative;
  border-radius: 50%;
}
body .first-section .activities-section .extras .store img {
  position: absolute;
  width: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body .first-section .activities-section .extras .awards-bg {
  width: 45px;
  height: 45px;
  background-color: white;
  position: relative;
  border-radius: 50%;
}
body .first-section .activities-section .extras img {
  position: absolute;
  width: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body .first-section .activities-section .countdown-timer {
  background-color: white;
  padding: 5px 10px;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body .first-section .activities-section .countdown-timer div {
  font-weight: bold;
}
body .first-section .activities-section .settings .settings-bg {
  width: 45px;
  height: 45px;
  background-color: white;
  position: relative;
  border-radius: 50%;
}
body .first-section .activities-section .settings img {
  position: absolute;
  width: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body .second-section #image-container {
  display: grid;
  gap: 10px;
  margin: 20px;
}
body .second-section .card {
  position: relative;
  width: 100%;
  padding-top: 100%; /* Square ratio */
  cursor: pointer;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}
body .second-section .card.flipped {
  transform: rotateY(180deg);
}
body .second-section .card-front,
body .second-section .card-back {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backface-visibility: hidden;
  border-radius: 8px;
}
body .second-section .card-front {
  transform: rotateY(180deg);
  background-size: cover;
  background-position: center;
}
body .second-section .card-back {
  background-size: cover; /* Cover image for the back of the card */
  background-color: #ccc; /* Fallback background */
  transform: rotateY(0);
  background-size: 60px 60px;
  background: goldenrod;
}
body .third-section .bonus-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
body .third-section .bonus-section .shuffel-bonus .shuffel-bonus-bg, body .third-section .bonus-section .shuffel-bonus .flip-bonus-bg,
body .third-section .bonus-section .shuffel-bonus .freeze-bonus-bg, body .third-section .bonus-section .shuffel-bonus .attempt-bonus-bg, body .third-section .bonus-section .flip-bonus .shuffel-bonus-bg, body .third-section .bonus-section .flip-bonus .flip-bonus-bg,
body .third-section .bonus-section .flip-bonus .freeze-bonus-bg, body .third-section .bonus-section .flip-bonus .attempt-bonus-bg, body .third-section .bonus-section .freeze-bonus .shuffel-bonus-bg, body .third-section .bonus-section .freeze-bonus .flip-bonus-bg,
body .third-section .bonus-section .freeze-bonus .freeze-bonus-bg, body .third-section .bonus-section .freeze-bonus .attempt-bonus-bg,
body .third-section .bonus-section .attempt-bonus .shuffel-bonus-bg,
body .third-section .bonus-section .attempt-bonus .flip-bonus-bg,
body .third-section .bonus-section .attempt-bonus .freeze-bonus-bg,
body .third-section .bonus-section .attempt-bonus .attempt-bonus-bg {
  width: 45px;
  height: 45px;
  background-color: white;
  position: relative;
  border-radius: 50%;
}
body .third-section .bonus-section .shuffel-bonus img, body .third-section .bonus-section .flip-bonus img, body .third-section .bonus-section .freeze-bonus img,
body .third-section .bonus-section .attempt-bonus img {
  position: absolute;
  width: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body .third-section .bonus-section .shuffel-bonus .shuffel-data-display-bg, body .third-section .bonus-section .shuffel-bonus .flip-data-display-bg,
body .third-section .bonus-section .shuffel-bonus .freezer-data-display-bg,
body .third-section .bonus-section .shuffel-bonus .attempt-data-display-bg, body .third-section .bonus-section .flip-bonus .shuffel-data-display-bg, body .third-section .bonus-section .flip-bonus .flip-data-display-bg,
body .third-section .bonus-section .flip-bonus .freezer-data-display-bg,
body .third-section .bonus-section .flip-bonus .attempt-data-display-bg, body .third-section .bonus-section .freeze-bonus .shuffel-data-display-bg, body .third-section .bonus-section .freeze-bonus .flip-data-display-bg,
body .third-section .bonus-section .freeze-bonus .freezer-data-display-bg,
body .third-section .bonus-section .freeze-bonus .attempt-data-display-bg,
body .third-section .bonus-section .attempt-bonus .shuffel-data-display-bg,
body .third-section .bonus-section .attempt-bonus .flip-data-display-bg,
body .third-section .bonus-section .attempt-bonus .freezer-data-display-bg,
body .third-section .bonus-section .attempt-bonus .attempt-data-display-bg {
  position: relative;
  background-color: orangered;
  border-radius: 50%;
  font-size: 0.9rem;
  height: 1.3em;
  width: 1.3em;
  left: 30px;
  top: -8px;
}
body .third-section .bonus-section .shuffel-bonus .shuffel-data-display-bg .shuffel-data-display, body .third-section .bonus-section .shuffel-bonus .shuffel-data-display-bg .flip-data-display,
body .third-section .bonus-section .shuffel-bonus .shuffel-data-display-bg .freezer-display, body .third-section .bonus-section .shuffel-bonus .shuffel-data-display-bg .attempt-display, body .third-section .bonus-section .shuffel-bonus .flip-data-display-bg .shuffel-data-display, body .third-section .bonus-section .shuffel-bonus .flip-data-display-bg .flip-data-display,
body .third-section .bonus-section .shuffel-bonus .flip-data-display-bg .freezer-display, body .third-section .bonus-section .shuffel-bonus .flip-data-display-bg .attempt-display,
body .third-section .bonus-section .shuffel-bonus .freezer-data-display-bg .shuffel-data-display,
body .third-section .bonus-section .shuffel-bonus .freezer-data-display-bg .flip-data-display,
body .third-section .bonus-section .shuffel-bonus .freezer-data-display-bg .freezer-display,
body .third-section .bonus-section .shuffel-bonus .freezer-data-display-bg .attempt-display,
body .third-section .bonus-section .shuffel-bonus .attempt-data-display-bg .shuffel-data-display,
body .third-section .bonus-section .shuffel-bonus .attempt-data-display-bg .flip-data-display,
body .third-section .bonus-section .shuffel-bonus .attempt-data-display-bg .freezer-display,
body .third-section .bonus-section .shuffel-bonus .attempt-data-display-bg .attempt-display, body .third-section .bonus-section .flip-bonus .shuffel-data-display-bg .shuffel-data-display, body .third-section .bonus-section .flip-bonus .shuffel-data-display-bg .flip-data-display,
body .third-section .bonus-section .flip-bonus .shuffel-data-display-bg .freezer-display, body .third-section .bonus-section .flip-bonus .shuffel-data-display-bg .attempt-display, body .third-section .bonus-section .flip-bonus .flip-data-display-bg .shuffel-data-display, body .third-section .bonus-section .flip-bonus .flip-data-display-bg .flip-data-display,
body .third-section .bonus-section .flip-bonus .flip-data-display-bg .freezer-display, body .third-section .bonus-section .flip-bonus .flip-data-display-bg .attempt-display,
body .third-section .bonus-section .flip-bonus .freezer-data-display-bg .shuffel-data-display,
body .third-section .bonus-section .flip-bonus .freezer-data-display-bg .flip-data-display,
body .third-section .bonus-section .flip-bonus .freezer-data-display-bg .freezer-display,
body .third-section .bonus-section .flip-bonus .freezer-data-display-bg .attempt-display,
body .third-section .bonus-section .flip-bonus .attempt-data-display-bg .shuffel-data-display,
body .third-section .bonus-section .flip-bonus .attempt-data-display-bg .flip-data-display,
body .third-section .bonus-section .flip-bonus .attempt-data-display-bg .freezer-display,
body .third-section .bonus-section .flip-bonus .attempt-data-display-bg .attempt-display, body .third-section .bonus-section .freeze-bonus .shuffel-data-display-bg .shuffel-data-display, body .third-section .bonus-section .freeze-bonus .shuffel-data-display-bg .flip-data-display,
body .third-section .bonus-section .freeze-bonus .shuffel-data-display-bg .freezer-display, body .third-section .bonus-section .freeze-bonus .shuffel-data-display-bg .attempt-display, body .third-section .bonus-section .freeze-bonus .flip-data-display-bg .shuffel-data-display, body .third-section .bonus-section .freeze-bonus .flip-data-display-bg .flip-data-display,
body .third-section .bonus-section .freeze-bonus .flip-data-display-bg .freezer-display, body .third-section .bonus-section .freeze-bonus .flip-data-display-bg .attempt-display,
body .third-section .bonus-section .freeze-bonus .freezer-data-display-bg .shuffel-data-display,
body .third-section .bonus-section .freeze-bonus .freezer-data-display-bg .flip-data-display,
body .third-section .bonus-section .freeze-bonus .freezer-data-display-bg .freezer-display,
body .third-section .bonus-section .freeze-bonus .freezer-data-display-bg .attempt-display,
body .third-section .bonus-section .freeze-bonus .attempt-data-display-bg .shuffel-data-display,
body .third-section .bonus-section .freeze-bonus .attempt-data-display-bg .flip-data-display,
body .third-section .bonus-section .freeze-bonus .attempt-data-display-bg .freezer-display,
body .third-section .bonus-section .freeze-bonus .attempt-data-display-bg .attempt-display,
body .third-section .bonus-section .attempt-bonus .shuffel-data-display-bg .shuffel-data-display,
body .third-section .bonus-section .attempt-bonus .shuffel-data-display-bg .flip-data-display,
body .third-section .bonus-section .attempt-bonus .shuffel-data-display-bg .freezer-display,
body .third-section .bonus-section .attempt-bonus .shuffel-data-display-bg .attempt-display,
body .third-section .bonus-section .attempt-bonus .flip-data-display-bg .shuffel-data-display,
body .third-section .bonus-section .attempt-bonus .flip-data-display-bg .flip-data-display,
body .third-section .bonus-section .attempt-bonus .flip-data-display-bg .freezer-display,
body .third-section .bonus-section .attempt-bonus .flip-data-display-bg .attempt-display,
body .third-section .bonus-section .attempt-bonus .freezer-data-display-bg .shuffel-data-display,
body .third-section .bonus-section .attempt-bonus .freezer-data-display-bg .flip-data-display,
body .third-section .bonus-section .attempt-bonus .freezer-data-display-bg .freezer-display,
body .third-section .bonus-section .attempt-bonus .freezer-data-display-bg .attempt-display,
body .third-section .bonus-section .attempt-bonus .attempt-data-display-bg .shuffel-data-display,
body .third-section .bonus-section .attempt-bonus .attempt-data-display-bg .flip-data-display,
body .third-section .bonus-section .attempt-bonus .attempt-data-display-bg .freezer-display,
body .third-section .bonus-section .attempt-bonus .attempt-data-display-bg .attempt-display {
  font-weight: bold;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body .third-section .bonus-section .start-btn img {
  height: 70px;
  width: 70px;
  margin-bottom: 15px;
}
body .notification-bar {
  position: fixed;
  top: -60px; /* Initially hidden */
  left: 50%;
  transform: translateX(-50%);
  background-color: #323232;
  color: #fff;
  padding: 15px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: top 0.5s ease;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 90%;
  max-width: 500px;
}
body .notification-bar.hidden {
  top: -60px;
}
body .notification-bar.visible {
  top: 20px;
}
body .pop-up-menus .menu {
  position: fixed;
  bottom: -100%;
  z-index: 200;
  height: 55%;
  left: 0;
  right: 0;
  background-color: #0C0C0F;
  color: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 20px;
  text-align: center;
  transition: bottom 0.3s ease; /* Smooth transition */
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.3);
}
body .pop-up-menus .menu .slide-menu-content img {
  width: 90px;
}
body .pop-up-menus .menu .slide-menu-content .win-title {
  font-size: 23px;
  margin-top: 15px;
}
body .pop-up-menus .menu .slide-menu-content .win-title p {
  margin-top: 15px;
  padding: 5px 45px;
}
body .pop-up-menus .menu .slide-menu-content .fail-title {
  font-size: 23px;
}
body .pop-up-menus .menu .slide-menu-content .fail-title p {
  margin-top: 15px;
  padding: 5px 10px;
}
body .pop-up-menus .menu .slide-menu-content .attempt-title {
  font-size: 1rem;
  margin-top: 10px;
}
body .pop-up-menus .menu .slide-menu-content .attempt-title p {
  margin-top: 5px;
}
body .pop-up-menus .menu .slide-menu-content .attempt-title .buyAttemptsStars, body .pop-up-menus .menu .slide-menu-content .attempt-title .watchAdAttempt {
  background-color: #18181A;
  color: white;
  border-style: none;
  padding: 12px;
  margin: 5px 30px;
  border-radius: 5px;
  font-size: 1rem;
}
body .pop-up-menus .menu .slide-menu-content .attempt-title .infoAdsLeft {
  font-size: 0.8rem;
}
body .pop-up-menus .menu .slide-menu-actions-fail, body .pop-up-menus .menu .slide-menu-actions-win {
  display: flex;
  padding-top: 12px;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
body .pop-up-menus .menu .slide-menu-actions-fail .win-multiply, body .pop-up-menus .menu .slide-menu-actions-fail .fail-try, body .pop-up-menus .menu .slide-menu-actions-win .win-multiply, body .pop-up-menus .menu .slide-menu-actions-win .fail-try {
  background-color: #18181A;
  color: white;
  border-style: none;
  padding: 12px;
  margin: 5px 30px;
  border-radius: 5px;
  font-size: 1.2rem;
}
body .pop-up-menus .menu .slide-menu-actions-fail .win-multiply, body .pop-up-menus .menu .slide-menu-actions-win .win-multiply {
  margin: 7px 32px;
}
body .pop-up-menus .menu .slide-menu-actions-fail {
  margin-top: 10px;
}
body .pop-up-menus .menu.active {
  bottom: 0; /* Slide up */
}
body .pop-up-menus .close-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 25px;
  background: none;
  border: none;
  outline: none;
  margin: 10px 20px;
  padding: 2px 8px;
  color: white;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}
body .pop-up-menus .close-icon:hover {
  background-color: #29292B;
}
body .marketplace {
  display: none; /* Hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}
body .marketplace-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
}
body .booster-item {
  margin-bottom: 15px;
}
body .buy-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
body .buy-button:hover {
  background-color: #45a049;
}
body .close-button {
  background-color: #f44336;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
}
body .close-button:hover {
  background-color: #da190b;
}
/* body #marketplace-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  background-color: #008CBA;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
} */
/* body #marketplace-button:hover {
  background-color: #007B9F;
} *//*# sourceMappingURL=index.css.map */
